<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.industrialmaster.hospitalapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ModifyPrescriptionActivity"></activity>
        <activity android:name=".AddPrescriptionActivity" />
        <activity android:name=".PrescriptionActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MyAppointmentsActivity" />
        <activity android:name=".AppointmentsActivity" />
        <activity android:name=".InformationActivity" />
        <activity android:name=".DoctorsActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>